<!-- header.liquid -->
<header class="flex justify-between items-center py-4 px-6 border-b border-gray-300">
    <div class="text-4xl font-bold">GRAZA</div>
    <nav>
        <ul class="flex space-x-8">
            <li><a href="#" class="hover:underline">Shop</a></li>
            <li><a href="#" class="hover:underline">Get Refills</a></li>
            <li><a href="#" class="hover:underline">About</a></li>
            <li><a href="#" class="hover:underline">Blog</a></li>
        </ul>
    </nav>
    <div class="flex items-center space-x-4">
        <a href="#" class="hover:underline">Cart [0]</a>
    </div>
</header>